
                                    <table class="table" id="action">
                                        <thead>
                                            <tr>
                                                <th>Request#</th>
                                                <th>Supplemental Information</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            <tr>
                                                <th>123</th>
                                                <th>Upload File Here</th>
                                            </tr>

                                        </tbody>
                                    </table>