
                <table class="table" id="display">
                    <thead>
                        <tr>
                            <th scope="col">Request#</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">123</th>
                            <th scope="col">Pending</th>
                        </tr>

                    </tbody>
                </table>