
 <div class="container">
    <div class="row">
        <div class="col" style="margin-top: 10px;">
            <div class="cover-caption">
                <div class="row text-black">
                    <div class="mx-auto text-center p-4">
                        <div class="px-2">
                            <div class="welcomecolumn">

                                <app-welcome></app-welcome>
                            
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="margin-top: 10px;">
            <div class="row text-black">
                <div class="col-xl-11 mx-auto text-center  p-4">
                    <div class="px-2">
                        <div class="reimburseBalance">
                            
                            <app-reimbursement-balance></app-reimbursement-balance>
                        
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-6" style="margin-top: 10px;">
            <div class="row text-black">
                        
                <div class="mx-auto text-center p-4">
                                
                    <p style="font-size: 40px; margin-bottom: 0px;">Pending Reimbursements</p>
                    <div class="px-2">
            
                        <div id="table2" >
                            <div class="card-body">

                            <app-pending-reimbursement></app-pending-reimbursement>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6" style="margin-top:10px;">
                <div class="row text-black">    
                    <div class="col-xl-11 mx-auto text-center p-4">   
                               
                    <p style="font-size: 40px; margin-bottom: 0px;">Awarded</p>
                        <div class="px-2">
                            <div id="table2">
                                <div class="card-body">
                            
                                    <app-awarded-reimbursement></app-awarded-reimbursement>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row text-black">
                    <div class="col-xl-11 mx-auto text-center p-4">
                        <p style="font-size: 40px; margin-bottom: 0px;">Action Required</p>
                        <div class="px-2">
                                <div id="table2">
                                    <div class="card-body">
                                    
                                        <app-action-required></app-action-required>
                    
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
        <div class="row" style ="margin-top: 10px;">
            <div class="col" style="margin-left: 15px; margin-bottom:10px;">
                <div class="row text-black">
                    <div class="mx-auto text-center p-4">
                        <div class="px-2">
                            
                            
                            <div id="reimbursementlink">

                                <p>Taking a course to add onto your skills?</p>
                                <p>Apply to get reimbursed!</p>
                                <p>Fill out the Reimbursement Form</p>
                                
                                <form action="">
                                    <input type="submit" class="btn btn-primary" value="View" />
                                </form>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <div class="col" style="margin-left: 15px; margin-bottom:10px;">
                <div class="row text-black">
                    <div class="mx-auto text-center p-4">
                        <div class="px-2">
                            
                            
                            
                            <div id="logout">
                                <p>Ready to Logout?</p>
                                <form method="get" action="">
                                    <button class="btn btn-primary" type="submit" value="Logout">Logout!</button>
                                </form>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>  
    


